### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Mac OS ###
.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# Compiled files
*.class

# Build folders
target/
build/

# Logs
*.log

# Ignore cache folder
cache/